---
import { getLocaleFromUrl } from "@/js/localeUtils";
import { getLocalizedRoute, getTranslatedData, useTranslations } from "@/js/translationUtils";
const currLocale = getLocaleFromUrl(Astro.url);
type Props = {
  label: string;
  href: string;
};
const { label, href } = Astro.props;
---

<li>
  <a
    href={href}
    class="hover:text-primary text-muted-foreground transition-colors"
  >
    {label}
  </a>
</li>